<%- include('layout') %>
<section class="hero">
    <h1>Discover the Future of Fashion</h1>
    <button class="explore-btn">Explore Now</button>
</section>

<section class="categories">
    <div class="category women">
        <img src="/public/images/women.jpg" alt="Gambar Category perempuan">
    </div>
    <div class="category men">
        <img src="/public/images/men.jpg" alt="Gambar Category lelaki">
    </div>
    <div class="category kids">
        <img src="/public/images/kids.jpg" alt="Gambar Category Anak2 kita">
    </div>
</section>