<section class="hero">
    <h1>Discover the Future of Fashion</h1>
    <a href="/products" class="explore-btn">Explore Now</a>
</section>

<section class="categories">
    <div class="category women">
        <div>
            <img src="/images/women.jpg" alt="Women Main Image">
        </div>
        <div class="category women button">
            <a href="/women" class="category-btn">Shop Women</a>
        </div>
    </div>
    <div class="category men">
        <div>
            <img src="/images/men.jpg" alt="Men Main Image">
        </div>
        <div class="category men button">
            <a href="/men" class="category-btn">Shop Men</a>
        </div>
    </div>
    <div class="category kids">
        <div>
            <img src="/images/kids.jpg" alt="Kids Main Image">
            <h2><a href="/kids" class="category-btn">Shop Kids</a></h2>
        </div>
        <div class="category women button">
        </div>
    </div>
</section>

<section class="collections">
    <h1>New Collection</h1>
    <% if (specificProducts && specificProducts.length > 0) { %>
        <ul>
          <% specificProducts.forEach(product => { %>
            <li>
              <img src="<%= product.image %>" alt="<%= product.name %>">
              <h2><%= product.name %></h2>
            </li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>No specific products found.</p>
      <% } %>    
</section>