<section class="hero">
    <h1>Discover the Future of Fashion</h1>
    <a href="/products" class="explore-btn">Explore Now</a>
</section>

<section class="categories">
    <div class="category-women">
        <div>
        <img src="/public/images/women.jpg" alt="Gambar Category perempuan">
        </div>
        <div class="category-btn">
        <a href="/women" class="women-btn">Shop Women</a>
        </div>
    </div>
    <div class="category-men">
        <img src="/public/images/men.jpg" alt="Gambar Category lelaki">
    </div>
    <div class="category kids">
        <img src="/public/images/kids.jpg" alt="Gambar Category Anak2 kita">
    </div>
</section>