<h2>Men's Collection</h2>
<div class="product-list">
    <div class="product">
        <img src="/public/images/women.jpg" alt="Women Fashion">
        <h3>Singlet</h3>
        <p>RM100000000000000000000000000000</p>
    </div>
    <div class="product">
        <img src="https://via.placeholder.com/150" alt="Shirt">
        <h3>Shirt</h3>
        <p>RM9000000000000000000000</p>
    </div>
</div>