<h2>Kids' Collection</h2>
<div class="product-list">
    <div class="product">
        <img src="/public/images/ctgkids1" alt="Koket">
        <h3>T-Shirt</h3>
        <p>RM10000</p>
    </div>
    <div class="product">
        <img src="/public/images/ctgkids2" alt="Baju laki gempak">
        <h3>Shorts</h3>
        <p>RM100</p>
    </div>
    <!-- Add more products as needed -->
</div>